/* Styles for login page */

.Login {
  width: 100%;
  height: 100%;
  /* layout */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Login > img {
  height: 18rem;
}

.Login > .modal {
  width: 30rem;
  height: 24rem;
  border-left: 1px solid #000;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .title {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal h1 {
  text-align: center;
  color: #2998a7;
}

.modal form {
  width: 90%;
  height: max-content;
  margin: 1.7rem 0;
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.modal form.email-code {
  pointer-events: none;
  opacity: 0.5;
}

.modal .form-seperator {
  width: 80%;
  background-color: #222;
  height: 1px;
}

.modal form .input-text {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.modal form .input-text label {
  margin-bottom: 1rem;
  color: #2998a7;
}
.modal form .input-text input[type="email"],
.modal form .input-text input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}

.modal form .input-submit {
  width: 49%;
  /* layout */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal form .input-submit input {
  background-color: #2998a7;
  outline: none;
  border: 1px solid #444;
  color: #fff;
  padding: 0.15rem 0.5rem;
  border-radius: 0.2rem;
  width: 4rem;
}
